@import "tailwindcss";

@theme {
    --shadow-custom: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    --shadow-custom-xs: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    --shadow-custom-xl: 0 0 10px 1px rgba(0, 0, 0, 0.4);
    --inset-shadow-custom: inset 0 1px 5px rgba(0, 0, 0, 0.1);
}